/*display all Range elements in one line*/
  .inline-range {
      display: inline;
      float: left;
      font-size: 14px;
  }

/* adjust Range ui to custom */
  .rc-slider-handle{
     border-color: transparent; 
     border-width: 0px;
  }
  .rc-slider-handle ,
  .rc-slider-handle-dragging,
  .rc-slider-handle-focused
 {
     box-shadow: transparent !important;
   
  }
  .rc-slider-handle-dragging{
    box-shadow: 0px 0px 0px 0px transparent !important;
  
  }
  .rc-slider-handle-dragging .rc-slider-handle-dragging .rc-slider-handle-dragging{
    box-shadow: 0px 0px 0px 0px transparent !important;
  
   }
 
.custom-slider-tooltip {
      font-size: 10px;
      width: 20px;
      text-align: center;
}

/* triangles */
.rc-slider-handle-1 {
    border-bottom-width: 0px;
    border-top-width: 8px;
    top:2px;
}
  
.rc-slider-handle-2 {
    border-top-width: 0px;
    border-bottom-width: 8px;
    top:13px;
}

.custom-tip-down{
    position: relative;
    top: 28px;
}


.inline-title{
    display: inline;
    float: left;
    font-size: 12px;
    color: gray;
}